# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
vh/
pip-log.txt
pip-delete-this-directory.txt

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/
django.mo
*.mo

# Environment
.env

# IDEs
.idea/
.vscode/
.cursor/
*.swp
*.swo

# Project specific
ContestKeeper/db.sqlite3

# Local dev plans
**/localdev/

# ETC

**/.fuse_hidden*