{% extends 'app/core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/announcements/announcement_confirm_delete.css' %}">
{% endblock %}

{% block title %}Delete Announcement{% endblock %}
{% block content %}
<div class="form-card">
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete the announcement: "<strong>{{ object.title }}</strong>"?</p>
    <form method="post">
        {% csrf_token %}
        <div class="div-001">
            <button type="submit" class="btn btn-primary button-001">Yes, delete it</button>
            <a href="{% url 'announcement_list' contest.pk %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
