{% extends 'app/core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/announcements/announcement_form.css' %}">
{% endblock %}


{% block title %}Post Announcement - {{ contest.name }}{% endblock %}

{% block content %}
<div class="form-card">
    <h2 class="h2-001">Post New Announcement</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="field-error">{{ field.errors|striptags }}</div>
            {% endif %}
            {% if field.help_text %}
            <p class="p-001">{{ field.help_text }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <div class="div-001">
            <button type="submit" class="btn btn-primary button-001">Publish Announcement</button>
            <a href="{% url 'announcement_list' contest.pk %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
