{% extends 'app/core/base.html' %}
{% load static i18n %}

{% block title %}{% if is_edit %}{% trans "Edit Contest" %}{% else %}{% trans "Create New Contest" %}{% endif %} - ContestKeeper{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contests/contest_form.css' %}">
{% endblock %}

{% block content %}
        <header class="dashboard-header">
            <h1 id="h1">{% if is_edit %}{% trans "Edit Contest" %}{% else %}{% trans "Create New Contest" %}{% endif %}</h1>
        </header>

        <div class="form-card">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                {# Специальный вывод для галочки #}
                <div class="form-group checkbox-row">
                    {{ field }}
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.errors %}
                    <p class="field-error">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
                {% else %}
                {# Обычный вывод для всех остальных полей #}
                <div class="form-group">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <p class="field-error">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}

                <div class="contest-actions" style="margin-top: 2rem;">
                    <button type="submit" class="btn btn-primary">
                        {% if is_edit %}{% trans "Save Changes" %}{% else %}{% trans "Create Contest" %}{% endif %}
                    </button>
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
{% endblock %}
